* text=auto eol=lf
*.vex linguist-language=C linguist-detectable=true linguist-generated=false
*.vx linguist-language=C linguist-detectable=true linguist-generated=false
*.vxx linguist-language=C linguist-detectable=true linguist-generated=false
*.vxr linguist-language=C linguist-detectable=true linguist-generated=false
*.vexar linguist-language=C linguist-detectable=true linguist-generated=false
*.c linguist-language=C linguist-detectable=true
*.cpp linguist-language=C++
*.cc linguist-language=C++
*.h linguist-language=C linguist-detectable=true
*.hh linguist-language=C++
source/optimization/*.c linguist-language=C linguist-detectable=true
source/optimization/* linguist-vendored=false