* text=auto
*.vx linguist-vendored
*.vex linguist-vendored
*.vxr linguist-vendored
*.vexar linguist-vendored
*.c linguist-language=C linguist-detectable=true
*.cpp linguist-language=C++
*.cc linguist-language=C++
*.h linguist-language=C linguist-detectable=true
*.hh linguist-language=C++
source/optimization/*.c linguist-language=C linguist-detectable=true
source/optimization/* linguist-vendored=false