* text=auto
*.vex linguist-language=C linguist-detectable=true
*.vx linguist-language=C linguist-detectable=true
*.vxr linguist-language=C linguist-detectable=true
*.vexar linguist-language=C linguist-detectable=true
*.c linguist-language=C linguist-detectable=true
*.cpp linguist-language=C++
*.cc linguist-language=C++
*.h linguist-language=C linguist-detectable=true
*.hh linguist-language=C++
source/optimization/*.c linguist-language=C linguist-detectable=true
source/optimization/* linguist-vendored=false